@font-face {
    font-family: dibaj-m;
    src: url(./assets/font/Dibaj/dibaj-Family/Dibaj-ttf/Dibaj\ Medium.ttf);
}
@font-face {
    font-family: javan;
    src: url(./assets/font/javan.ttf);
}
@font-face {
    font-family: aria;
    src: url(./assets/font/آریا/Aria-Medium.ttf);
}
body 
{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.App
{
    background:url(./assets/image/magicpattern-svg-chart-1674986512093.jpeg) ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
    direction: rtl;
    font-family: aria;
}
.container
{
    width: 90%;
    margin: 2rem 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px
}